
<h1 class="title">Perfil</h1>
<h3 class="welcome">Bienvenido {{user.first_name}} {{user.last_name}}</h3>
<h3 class="email">Tu correo de registro es: {{user.email}}</h3>
<h3 class="role">Tu rol es: {{user.role}}</h3>
