<div class="container">
        <h2 class="thanks">{{user.first_name}} {{user.last_name}}, ¡muchas gracias por tu compra!</h2>
        <br>
        <h3 class="message2">Tu carrito está vacío.</h3>
        <br>
        <h3 class="message2">¡Disfruta de tus productos!</h3>
</div>