<h1>Reset Password</h1>
<P>Ingrese su nueva contraseña</P>
<div>
    <form method="post" action="/api/sessions/reset-password?token={{token}}">
        <input type="text" placeholder="correo" name="email"/>
        <br/>
        <br/>
        <input type="password" placeholder="nueva contrasena" name="newPassword"/>
        <br/>
        <br/>
        <button type="submit">Restablecer contraseña</button>
    </form>
